graft docs
graft src
graft tests
graft requirements

include README.rst
include .bumpversion.cfg
include .coveragerc
include tox.ini
include tlo.example.conf
include CITATION.cff
include LICENSE.txt

exclude .editorconfig
recursive-exclude .ci *
recursive-exclude deploy *
recursive-exclude outputs *
recursive-exclude resources *

# some files inside of docs are generated
recursive-exclude docs/reference tlo.*.rst
exclude docs/reference/tlo.rst
exclude docs/reference/modules.rst
exclude docs/_*.rst
exclude docs/hsi_events.csv

global-exclude *.py[cod] __pycache__ *.so *.dylib .ipynb_checkpoints/** *~
