graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include README.rst

include tox.ini .travis.yml

recursive-include requirements *.in
recursive-include requirements *.txt
recursive-include requirements Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib
