graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include README.rst

include tox.ini .travis.yml

recursive-include notebooks *.ipynb
recursive-include requirements *.in
recursive-include requirements *.txt
recursive-include requirements Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib .ipynb_checkpoints/**
