- hosts: all
  vars:
    github_account: UCL
    github_repo: TLOmodel
    runner_user: gha
    runner_workdir: /mnt/tlo

  tasks:

   - name: create github action user
     become: true
     ansible.builtin.user:
       name: "{{ runner_user }}"
       create_home: yes
       home: "/home/{{ runner_user }}"
       shell: /bin/bash

   - name: add deadsnakes ppa
     become: true
     apt_repository:
       repo: ppa:deadsnakes/ppa
       state: present
       update_cache: yes

   - name: install packages from apt
     become: true
     apt:
       name:
         - acl  # https://github.com/georchestra/ansible/issues/55#issuecomment-651043423
         - python3.8
         - python3.8-distutils
         - python3-pip
         - glibc-tools
         - git-lfs
       state: present

   - name: update-alternative select python3.8 as default
     become: true
     community.general.alternatives:
       name: python
       path: /usr/bin/python3.8
       link: /usr/bin/python
       state: selected

   - name: install tox
     become: true
     ansible.builtin.shell: python3.8 -m pip install tox
     args:
       creates: /usr/local/bin/tox

   - name: install virtualenv
     become: true
     ansible.builtin.shell: python3.8 -m pip install virtualenv
     args:
       creates: /usr/local/bin/virtualenv

   - name: make /mnt writable by everyone
     become: true
     ansible.builtin.file:
       path: "/mnt"
       state: directory
       mode: '0777'

   - name: run github actions runner role
     with_sequence: count="{{ n_runners }}"
     include_role:
       name: monolithprojects.github_actions_runner
       apply:
         become: yes
     vars:
       runner_dir: "/opt/actions-runner/{{ item }}"
       runner_name: "{{ ansible_hostname }}-{{ item }}"
       runner_extra_config_args: "--work {{ runner_workdir }}/{{ item }}/_work"
       reinstall_runner: no
